APP_NAME="Serveur de la maison"
APP_ENV=local
APP_KEY=base64:P9GmNGnAY7Vw3+pa6yJZw/iHby/1zUwZrYYVy3pGBdA=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr
APP_FAKER_LOCALE=fr_FR

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=data_base_name # Nom de la base de données
DB_USERNAME=root
DB_PASSWORD=""

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER="driver" # driver que vous souhaitez utiliser (smtp, sendmail, etc)
MAIL_DRIVER="driver" # driver que vous souhaitez utiliser (même que MAIL_MAILER)
MAIL_HOST="provider smtp" # provider fourni par le fournisseur de service (smtp.gmail.com, smtp.yahoo.com, etc)
MAIL_PORT="port number" # numéro de port fourni par le fournisseur de service (gmail, yahoo, etc)
MAIL_USERNAME="email utilisé pour l'envoi de mail" # email utilisé pour l'envoi de mail (gmail, yahoo, etc)
MAIL_NAME="Nom de l'expéditeur" # Nom de l'expéditeur (qui apparaîtra dans les mails envoyés)
MAIL_PASSWORD="mot de passe d'applications" # mot de passe d'applications généré par le fournisseur de service (gmail, yahoo, etc)
MAIL_ENCRYPTION="protocole de chiffrement" # tls ou ssl
MAIL_FROM_ADDRESS="email utilisé pour l'envoi de mail" # email utilisé pour l'envoi de mail (même que MAIL_USERNAME)
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
